
 

.top-line{
    background-image: linear-gradient(#27282C, #2C2B32); 
    height: 20px   !important;
    color: white  !important;
    font-size: 9px;
}


.top-line ul{
padding: inherit;
}


.top-line ul li {
    list-style: none;
    float: left;
    padding: 3px;
    margin-right: 15px;
}

.top-line ul li .float-right {
    list-style: none;
    float: right !important;
    padding: 3px;
    margin-left: 12px;
}


.top-line ul li a {
   text-decoration: none; color: white; padding: 5px;
}
 .red{
    background-color: red !important;padding: 10px;
}

.gray{
    background-color: gray !important;padding: 10px;
}

.yellow{
    background-color: yellow !important;padding: 10px;
}

.blue{
    background-color:#435de1 !important;padding: 10px;
}

.green{
    background-color:#39c79a !important;padding: 10px;
}


banner{
     background-color: #fff; 
     height: 135px;
     padding: 10px 0px 10px 0px;
     margin: 0px !important;
}
banner .logo_div{
  padding-left: 30px; 
}

banner .advert_div{
    background-color: red;
  }
  navigation{
    background-color: #fff;margin: 7px 7px 7px 7px;
  }
  navigation .nav li a {
    color:  #545454; text-transform: uppercase !important;
  }
 
  navigation .nav li:hover,navigation .nav .active {
    background-color: #CACCC5;
    border-radius: 5px 5px 0 0 ;
  }

  scrollbar{
    margin: 0px;
  }

  

  scrollbar .scrolltext {
    color: #fff; font-weight: 500;
    
}

scrollbar .datetext{
    color: #2C2B32; font-weight: 500; padding: 10px; text-align: center;
}

scrollbar .timetext{
    color: #fff; font-weight: 500; padding: 10px;  
}


bigbanner{
    margin: 0px;
    
}
.placeholder {
    width: 110%;
    height: 250px;
    background-image: url('../images/image2.png');
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.event_cover{
    position: relative; width: 400px; height: 40px; float: right;
    margin-top: -45px; margin-left: 70%; color: white; font-weight: 100; font-size: 14px;  
}

.sponsored_cover{
    position: relative; width: 200px; height: 20px; float: right;
    margin-top: -247px; margin-left: 70%; color: white; font-weight: 500; font-size: 9px;  
    padding: 0px; text-align: center;
}



breaknews{
    margin: 0px;
  }

  

  breaknews .scrolltext {
    color: #fff; font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

breaknews .breaknewstext{
   color: #fff; background-color: #131315; font-weight: 300; padding: 10px; text-align: left;
}

 
slider{
    height: 350px;  padding-top: 10px;
}
slider div{
     padding: 0px; height: inherit; overflow: hidden;
}
slider .scrolltext img{
    width: inherit;
}

slider .middletext img{
    height: inherit !important;
}
.leftside div{
    /* height: 200px; overflow: hidden; margin-bottom: 10px; */
}
.leftside div img{
    width: inherit;
}

.leftside h1{
    font-size: 16px; font-weight: bolder;
}




newsbar{
    height: 350px;  padding-top: 10px;
    padding-bottom: 10px !important;
    margin-bottom: 15px;
}
newsbar div{
     padding: 0px; height: inherit; overflow: hidden;
}
newsbar .scrolltext img{
    width: inherit;
}

newsbar .middletext img{
    height: inherit !important;
}


newsbar .newsleftdiv{
    /* margin-top: 30px; */
}
newsbar .newsleftdiv .imagetext img{
    
    width: inherit;
}

.banner{
  

    
}

.scrolltext .politics-header{
    
    position:relative; height: 40px; margin-top: 30px !important;
    position: absolute;
    height: 40px;
    margin-top: 250px !important;
    margin-left: 30px; color: #fff;
    text-transform: uppercase;

}
.scrolltext .politics-header2{
   

    position:relative; height: 40px; margin-top: 70px !important;
    position: absolute;
    height: 40px;
    margin-top:300px !important;
    margin-left: 30px; color: #fff;
    text-transform: uppercase;
    opacity: 0.7;
}




.middletext .politics-header{
    
    position:relative; height: 40px; margin-top: 30px !important;
    position: absolute;
    height: 40px;
    margin-top: 250px !important;
    margin-left: 30px; color: #fff;
    text-transform: uppercase;

}
.middletext .politics-header2{
   

    position:relative; height: 40px; margin-top: 70px !important;
    position: absolute;
    height: 40px;
    margin-top:300px !important;
    margin-left: 30px; color: #fff;
    text-transform: uppercase;
    opacity: 0.7;
}



.breaknewstext .politics-header{
    
    position:relative; height: 40px; margin-top: 30px !important;
    position: absolute;
    height: 40px;
    margin-top: 100px !important;
    margin-left: 30px; color: #fff;
    text-transform: uppercase;

}
.breaknewstext .politics-header2{
   

    position:relative; height: 40px; margin-top: 70px !important;
    position: absolute;
    height: 40px;
    margin-top:150px !important;
    margin-left: 30px; color: #fff;
    text-transform: uppercase;
    opacity: 0.7;

}



.newsleftdiv .politics-header{
    
    position:relative; height: 40px; margin-top: 30px !important;
    position: absolute;
    height: 40px;
    margin-top: 0px !important;
    margin-left: 0px; color: #fff;
    text-transform: uppercase;
    z-index: 999;
    width: inherit;
    background-color: #fff;

}
.newsleftdiv .politics-header2{
   

    position:relative; height: 40px; margin-top: 70px !important;
    position: absolute;
    height: 40px;
    margin-top:150px !important;
    margin-left: 30px; color: #fff;
    text-transform: uppercase;
    opacity: 0.7;
    

}


.newsleftdiv .politics-header div{
    position: relative;
    float: left; 
}



.newsleftdiv .politics-header div:nth-child(2){
   color: #131315; padding-top: 5px; padding-left: 10px;
}

.tab-content ul{

    margin: 0px;
}

.tab-content ul li{

     list-style: none; padding: 0px; margin-top: 10px; margin-left: 0px;
}

.tabbable .nav-item a{

    text-decoration: nono;
    text-transform: uppercase;
}
.tabbable .nav-item .active{
    border-bottom: #39c79a 1px solid;
}

.tabbable .nav-tabs .nav-item.show .nav-link, .tabbable .nav-tabs .nav-link.active{

    border-color: white !important;
}

.leftside  .tab-pane{
    overflow-y: scroll;
}
.tabbable .nav-item  a {
    color: #0a0c0e; font-weight: 600;
}
.tabbable .nav-item .active{
    color: #87A9CF;  
    border-bottom: #435de1 solid 2px;
}

section2 .card{
    height: 300px;  
    overflow: hidden;
    margin-bottom: 5px;
}
section2 .card .row{
    padding: 0px;
    margin: 0px;
}
section2 .card img{
width: inherit;
}

section2 .card .img_card{
    padding-right: 7px;
    
}

section2 .bannercard {
    position: absolute;
    margin-top: 210px;
    margin-left: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}
 
section2 .header{
    font-size: 18px;
    padding: 0 0 10px  0;
    border-bottom: 1px solid #878ca3;
}

section2 .authorcard{
    font-size: 11px;
}
section2 .briefcard{
    padding-top: 10px;
}
section2 .leftside {
    background-color: #222127;
}

section2 .leftside .row{
    margin: 0px;
}

section2 .leftside .cardx{
   
}

section2 .leftside .cardx .header1{
   color: #fff;
   text-align: center; padding: 10px;
   font-size: 20px; 
   border-bottom: 1px solid  #39c79a;
}


section2 .leftside .cardx .header2{
    color: #fff;
    text-align: center; padding: 10px;
    font-size: 20px; 
    
 }

 section2 .leftside .cardx .spreviewcard{
    width: inherit;
    border-bottom: 5px solid red;
 }
 
 


 section2 .leftside .cardx .spreviewcard .bannercard {
    position: absolute;
    margin-top: 225px;
    margin-left: 290px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
}


section2 .leftside .cardx .textpreviewcard .bannercard {
    position: absolute;
    margin-top: 25px;
    margin-left: 20px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 200;  
}

 
section2 .leftside .cardx p {
    
    color: #fff !important;
    margin-left: 17px;
    
}

section2 .leftside .cardx ul{

}

section2 .leftside .cardx ul li{ list-style: none;
    color: #fff; font-size: 11px;
    padding: 20px 0px 10px 0px;
    border-bottom: 1px solid #545454;
}

section2 .leftside .cardx ul li .briefcard{  padding: 0px;
}


section2 .leftside .cardx ul li h1{
    font-size: 11px; border-bottom: none; padding-bottom: 0px;
}
 .hj{
    color: #fff; margin-top: 80px;
    margin-left: 20px;
 }
 
 .hj2{
    color: #fff; margin-top: 10px;
    margin-left: 20px;
    font-weight: 100 !important;
 }
 
.banner-div{
    height: 150px;
}
 
.squaurecard{
    width: 20%;
    height: 130px; float: left; margin: 10px;
}